<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<property name="LOGS_PATH" value="/app/log"/>-->

    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender class="ch.qos.logback.core.FileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO,WARN, ERROR</level>
            </filter>
            <file>log/atech.log</file>
            <encoder>
                <Pattern>%d{HH:mm:ss.SSS} %-5level %marker [%X{xtid}] [%logger{36}] [%thread] %msg%n%ex</Pattern>
            </encoder>
        </appender>
    </appender>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>%d{HH:mm:ss.SSS} %-5level %marker [%X{xtid}] [%logger{36}] [%thread] %msg%n%ex</Pattern>
            </encoder>
        </appender>
    </appender>

    <!-- Loggers -->
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.mapstruct" level="ERROR"/>
    <logger name="javax.activation" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="liquibase" level="WARN"/>
    <logger name="LiquibaseSchemaResolver" level="INFO"/>

    <root level="INFO, ERROR">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
