<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<property name="LOGS_PATH" value="/app/log"/>-->

    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender class="ch.qos.logback.core.FileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO,WARN</level>
            </filter>
            <file>${LOGS_PATH}/atech.log</file>
            <encoder>
                <Pattern>%d{HH:mm:ss.SSS} %-5level %marker [%X{xtid}] [%logger{36}] [%thread] %msg%n%ex</Pattern>
            </encoder>
        </appender>
    </appender>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>%d{HH:mm:ss.SSS} %-5level %marker [%X{xtid}] [%logger{36}] [%thread] %msg%n%ex</Pattern>
            </encoder>
        </appender>
    </appender>

    <!-- Loggers -->
    <logger name="org.springframework" level="INFO,ERROR"/>


    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
